body {
    background-color: #f6f0e7;
    color: black;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

ol {
    list-style-type: lower-alpha;
    padding: 5em;
}

section.photos {
    background-color: olive;
    font-family: roman, 'times new roman', times, serif;
}

figure.image {
    max-width: 150px;
}

div {
    width: 50%;
    margin: auto;
}

img {
    width: 50%;
    height: 50%;
    align-content: center;
}

figure {
    margin: auto;
    width: 50%;
    align-content: center;
}

nav {
    background-color: white;
    color: black;
    padding: 20px;
    width: 45%;
    border-style: outset;
    border-width: medium;
    border-color: black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
}
div.gallery {
                margin: 5px;
                border: 1px solid #ccc;
                float: left;
                width: 180px;
            }
            
            div.gallery:hover {
                border: 1px solid #777;
            }
            
            div.gallery img {
                width: 50%;
                height: auto;
            }
            
            div.desc {
                padding: 15px;
                text-align: center;}


/*@keyframes moveTitle {
    0% {
        transform: translateX(0); 
    }
    50% {
        transform: translateX(20%); 
    }
    100% {
        transform: translateX(0); 
    }
}*/


/*h1 {
    animation: moveTitle 5s infinite; 
}*/